.container {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: aquamarine;
  min-height: 4rem;
}
.links ul {
  display: flex;
  gap: 2rem;
}
.links li {
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.links li:hover {
  transform: scale(1.1);
  border-bottom: 4px solid black;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.button {
  display: flex;
  align-items: center;
}
.button button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
}
